[Unit]
Description=dashboards-{{cluster_name}}_{{ansible_hostname}}
Documentation=https://www.opensearch.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{dashboards_user}}
Group={{dashboards_group}}

Environment=KBN_HOME={{dashboards_home}}
Environment=KBN_PATH_CONF={{dashboards_conf_dir}}

ExecStart={{dashboards_home}}/bin/opensearch-dashboards --logging.dest="{{dashboards_log_dir}}/dashboards.log" --pid.file="{{dashboards_pid_dir}}/dashboards.pid"

Restart=on-failure
RestartSec=3

StartLimitBurst=3
StartLimitInterval=60

WorkingDirectory={{dashboards_home}}

StandardOutput=journal
StandardError=inherit

{% if dashboards_port is defined and dashboards_port < 1024 -%}
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}

[Install]
WantedBy=multi-user.target
